
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    @Styles.Render("~/Scripts/leaflet/leaflet.css")
    @Scripts.Render("~/Scripts/leaflet/leaflet.js")
    @Scripts.Render("~/Scripts/hive.map.interaction.js")



</head>
<body>
    <h2>Index</h2>
    <div id="mapid" style="height: 180px;"></div>


    <script>


        var coordinates = getLocation();
        if (typeof coordinates === 'string') {
            alert(coordinates);
        }
        else {
            var mymap = L.map('mapid').setView([coordinates[0], coordinates[1]], 13);

            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(mymap);


            var marker = L.marker([coordinates[0], coordinates[1]]).addTo(mymap);
        }
    </script>

</body>





