
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    @Styles.Render("~/Scripts/leaflet/leaflet.css")
    @Scripts.Render("~/Scripts/leaflet/leaflet.js")
    @Scripts.Render("~/Scripts/hive.map.interaction.js")



</head>
<body>
    <h2>Index</h2>
    <div id="mapid" style="height: 350px; "></div>


    <script>


        var coordinates = getLocation();
        if (typeof coordinates === 'string') {
            alert(coordinates);
        }
        else {
            var mymap = L.map('mapid').setView([51.505, -0.09], 13);

            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoidGhpc2Vhc20iLCJhIjoiY2p0ZDNrZDUwMHZ0ejQzcWlxb3BrdDV3cCJ9.2drjw4y3oUVkXhb3qNoFAg', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.streets'
            }).addTo(mymap);


            var marker = L.marker([coordinates[0], coordinates[1]]).addTo(mymap);
        }
    </script>

</body>





