@model HiveProject.Viewmodels.UsersViewModel

<div class="card" style="width: 18rem ; height: 500px; background:#F5F0DF">
    <img src='~/Content/Images/@Model.Thumbnail' class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Html.DisplayFor(model => model.Username),@Html.DisplayFor(model => model.Age)</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button id="like" type="button" class="btn btn-outline-success">Like</button>
        <button id="dislike" type="button" class="btn btn-outline-danger">Dislike</button>
    </div>
</div>


    @*<script>
        $(document).ready(function () {
            $("#like").on("click", function () {
                var userid = @model.id;
                $.ajax({
                    method: "post",
                    async: true,
                    url: "/mainmenu/addlike/" + userid,
                    success: function () {
                        $('.btn-group').html('liked');
                    }
                });
            });
            $("#dislike").on("click", function () {
                var userid = @model.id;
                $.ajax({
                    method: "post",
                    async: true,
                    url: "/mainmenu/adddislike/" + userid,
                    success: function () {
                        $('.btn-group').html('disliked');
                    }
                });
            })
        });
    </script>*@
