@model HiveProject.Viewmodels.UsersViewModel

<div class="card" style="width: 18rem ; height: 500px; background:#F5F0DF">
    <img src='~/Content/Images/@Model.Thumbnail' class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Html.DisplayFor(model => model.Username),@Html.DisplayFor(model => model.Age)</h5>
        <p class="card-text">@Html.DisplayFor(Model=>Model.Bio)</p>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button id="like" type="button" class="btn btn-outline-success">Like</button>
        <button id="dislike" type="button" class="btn btn-outline-danger">Dislike</button>
    </div>
</div>
